
process {
  executor        = 'slurm'  
  queue           = 'snowball,pinky'
  cpus            = 96
  memory          = '90 GB'
  time            = '40h'
  nodes           = 1
}

params {
  outdir      = "results"
  mode        = null
  restart     = false
  genome      = null
  proteins    = null
  rnaseq_paired = []
  rnaseq_single = []
  isoseq        = []
  scoring_matrix = null
  prothint_conflict_filter = false
  tools {
    hisat2   = "hisat2"
    hisat2_build = "hisat2-build"
    minimap2 = "minimap2"
    stringtie= "stringtie"
    samtools = "samtools"
    transdecoder_longorfs = "TransDecoder.LongOrfs"
    transdecoder_predict  = "TransDecoder.Predict"
    transdecoder_util_gtf2fa = "gtf_genome_to_cdna_fasta.pl"
    transdecoder_util_orf2genome = "cdna_alignment_orf_to_genome_orf.pl"
    diamond  = "diamond"
    bedtools = "bedtools"
    miniprot = "miniprot"
    miniprot_boundary_scorer = "miniprot_boundary_scorer"
    miniprothint = "miniprothint.py"
    aln2hints = "aln2hints.pl"
    bam2hints = "bam2hints"
    filterIntronsFindStrand = "filterIntronsFindStrand.pl"
  }
  containers { rna=null; protein=null; core=null }
}
